* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("./images/hero-image-2.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 108vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

span {
  background-image: linear-gradient(90deg, #B700F8, #E94028);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-family: Catamaran;
  font-weight: 900;
  margin: 0;
  font-size: 8vh;
}

h1.logo {
  font-family: Catamaran;
  font-weight: 900;
  margin: 0;
  font-size: 9vh;
  color: white;
}

p.contentLink {
  font-family: Catamaran;
  font-weight: 700;
  margin: 0;
  font-size: 4vh;
}

p.contentDevelopers {
  font-family: Quicksand;
  font-weight: 400;
  margin: 0;
  font-size: 2.7vh;
}

p.contentWhite {
  font-family: Catamaran;
  font-weight: 700;
  margin: 0;
  font-size: 4vh;
  color: white;
}

.backgroundGradient {
  background-image: linear-gradient(90deg, #B700F8, #E94028);
}

button.contactUs {
  background-color: #EC8800;
  border: none;
  padding: 2vh;
  width: 16vh;
  border-radius: 2.5vh;
  font-family: Catamaran;
  font-weight: 900;
  font-size: 3vh;
  color: white;
}

p.footerHeading {
  font-family: Catamaran;
  font-weight: 700;
  margin: 0;
  font-size: 3vh;
  color: white;
}

p.footerContent {
  font-family: Quicksand;
  font-weight: 400;
  margin: 0;
  font-size: 2vh;
  color: white;
}

p.footerCopyright {
  font-family: Quicksand;
  font-weight: 400;
  margin: 0;
  font-size: 1.5vh;
  color: white;
}

nav {
  background-color: transparent;
}
nav h1.logoMain {
  font-family: Catamaran;
  font-weight: 900;
  margin: 0;
  font-size: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
nav nav.nav a {
  font-family: Catamaran;
  font-weight: 700;
  margin: 0;
  font-size: 2.3vh;
  margin-left: 3.5vh;
  color: white;
}

nav.colorChange {
  background-image: linear-gradient(90deg, #B700F8, #E94028);
}
nav.colorChange h1.logoMain span {
  background-image: none;
  background-color: white;
}
nav.colorChange .nav a {
  color: white;
}
nav.colorChange .nav .nav-link.active {
  background-color: inherit !important;
  text-decoration: underline;
}

section.hero .content {
  height: 100vh;
}
section.hero .content h1.hero {
  font-family: Catamaran;
  font-weight: 900;
  margin: 0;
  font-size: 9vh;
  margin-top: 20vh;
  margin-bottom: 2vh;
}
section.hero .content button.hero {
  background-color: #EC8800;
  border: none;
  padding: 2vh;
  width: 16vh;
  border-radius: 2.5vh;
  font-family: Catamaran;
  font-weight: 900;
  font-size: 3vh;
  color: white;
  margin-right: 2vh;
}

section.services {
  padding-top: 25vh;
}
section.services .image img {
  height: 40vh;
  margin-bottom: 10vh;
}
section.services .image .right {
  float: right;
}
section.services .list {
  margin-top: 13vh;
  margin-bottom: 13vh;
}
section.services .list h2 {
  font-family: Catamaran;
  font-weight: 700;
  margin: 0;
  font-size: 5.5vh;
}
section.services .list p {
  font-family: Quicksand;
  font-weight: 400;
  margin: 0;
  font-size: 3vh;
}

section.live .backgroundGradient {
  background-image: linear-gradient(90deg, #B700F8, #E94028);
}
section.live .backgroundGradient.size {
  height: 110vh;
}
section.live .backgroundGradient h1 {
  font-family: Catamaran;
  font-weight: 900;
  margin: 0;
  font-size: 6vh;
  color: white;
  margin-top: 8vh;
  margin-bottom: 6vh;
}
section.live .backgroundGradient img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 4vh;
  height: 55vh;
}
section.live .backgroundGradient h2 {
  font-family: Catamaran;
  font-weight: 700;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 4vh;
  color: white;
  line-height: 5vh;
  width: 41vh;
  text-align: center;
}
section.live .backgroundGradient button.live {
  margin-left: auto;
  margin-right: auto;
  background-color: #EC8800;
  border: none;
  padding: 2vh;
  width: 16vh;
  border-radius: 2.5vh;
  font-family: Catamaran;
  font-weight: 900;
  font-size: 3vh;
  color: white;
  padding: 1vh;
  width: 20vh;
  border-radius: 5vh;
  display: block;
  margin-top: 2vh;
}
section.live .backgroundGradient button.live p {
  font-family: Catamaran;
  font-weight: 700;
  margin: 0;
  font-size: 2.2vh;
  color: white;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

section.faqs {
  padding-top: 13vh;
}
section.faqs h1 {
  font-family: Catamaran;
  font-weight: 900;
  margin: 0;
  font-size: 8vh;
  margin-bottom: 6vh;
}
section.faqs h2 {
  font-family: Catamaran;
  font-weight: 700;
  margin: 0;
  font-size: 4vh;
  margin-bottom: 4.5vh;
  color: black;
}
section.faqs p {
  font-family: Quicksand;
  font-weight: 400;
  margin: 0;
  font-size: 2.7vh;
}

.loginform {
  height: 100vh;
}
.loginform .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.notfound .row.ps-5 {
  height: 70vh;
}
.notfound .footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.modal-content {
  background-color: black;
  color: white;
}

.row.p-5.loggedin {
  background-color: black;
  color: white;
}