$headingFont: Catamaran;
$contentFont: Quicksand;
$backgroundColorBlack: black;

@mixin buttonStyle {
    background-color: #EC8800;
    border: none;
    padding: 2vh;
    width: 16vh;
    border-radius: 2.5vh;
    font-family: $headingFont;
    font-weight: 900;
    font-size: 3vh;
    color: white;
}

@mixin headingBlackStyle {
    font-family: $headingFont;
    font-weight: 900;
    margin: 0;
}

@mixin headingBoldStyle {
    font-family: $headingFont;
    font-weight: 700;
    margin: 0;
}

@mixin contentStyle {
    font-family: $contentFont;
    font-weight: 400;
    margin: 0;
}

@mixin marginCenterAlign {
    margin-left: auto;
    margin-right: auto;
}

@mixin backgroundGradient {
    background-image: linear-gradient(90deg, #B700F8, #E94028);
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url('./images/hero-image-2.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 108vh;
    overflow-x: hidden;
    overflow-y:scroll;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
span{
    @include backgroundGradient();
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Aayusin ko itong section na ito once na matapos si queena sa task nya
h1{
    @include headingBlackStyle();
    font-size: 8vh;
}
h1.logo{
    @include headingBlackStyle();
    font-size: 9vh;
    color: white;
}
p.contentLink{
    @include headingBoldStyle();
    font-size: 4vh;
}
p.contentDevelopers{
    @include contentStyle();
    font-size: 2.7vh;
}
p.contentWhite{
    @include headingBoldStyle();
    font-size: 4vh;
        color: white;
}
.backgroundGradient{
    @include backgroundGradient();
}
button.contactUs{
    @include buttonStyle();
}
p.footerHeading{
    @include headingBoldStyle();
    font-size: 3vh;
    color: white;
}
p.footerContent{
    @include contentStyle();
    font-size: 2vh;
    color: white;
}
p.footerCopyright{
    @include contentStyle();
    font-size: 1.5vh;
    color: white;
}



// Navigation Bar
nav{
    background-color: transparent;

    h1.logoMain{
        @include headingBlackStyle();
        font-size: 5vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    nav.nav{
        a{
            @include headingBoldStyle();
            font-size: 2.3vh;
            margin-left: 3.5vh;
            color: white;
        }
    }
}

nav.colorChange{
    @include backgroundGradient();
    h1.logoMain{
        span{
            background-image: none;
            background-color: white;
        }
    }
    .nav{
        a{
            color: white;
        }
        .nav-link.active {
            background-color: inherit !important;
            text-decoration: underline;
        }
    }
}


// Hero Section
section.hero{
    .content{
        height: 100vh;

        h1.hero{
            @include headingBlackStyle();
            font-size: 9vh;
            margin-top: 20vh;
            margin-bottom: 2vh;
        }
        button.hero{
            @include buttonStyle();
            margin-right: 2vh;
        }
    }
}


// Services Section
section.services{
    padding-top: 25vh;

    .image{
        img{
            height: 40vh;
            margin-bottom: 10vh;
        }
        
        .right{
            float: right;
        }
    }
    .list{
        margin-top: 13vh;
        margin-bottom: 13vh;

        h2{
            @include headingBoldStyle();
            font-size: 5.5vh;
        }
        p{
            @include contentStyle();
            font-size: 3vh;
        }
    }
}


// Live Streaming Section
section.live{
    .backgroundGradient{
        @include backgroundGradient();

        &.size{
            height: 110vh;
        }
        h1{
            @include headingBlackStyle();
            font-size: 6vh;
            color: white;
            margin-top: 8vh;
            margin-bottom: 6vh;
        }
        img{
            @include marginCenterAlign();
            display: block;
            margin-bottom: 4vh;
            height: 55vh;
        }
        h2{
            @include headingBoldStyle();
            @include marginCenterAlign();
            font-size: 4vh;
            color: white;
            line-height: 5vh;
            width: 41vh;
            text-align: center;
        }
        button.live{
            @include marginCenterAlign();
            @include buttonStyle();
            padding: 1vh;
            width: 20vh;
            border-radius: 5vh;
            display: block;
            margin-top: 2vh;
            
            p{
                @include headingBoldStyle();
                font-size: 2.2vh;
                color: white;
                margin-top: 0.5vh;
                margin-bottom: 0.5vh;
            }
        }
    }
    
}


// FAQs Section
section.faqs{
    padding-top: 13vh;

    h1{
        @include headingBlackStyle();
        font-size: 8vh;
        margin-bottom: 6vh;
    }
    h2{
        @include headingBoldStyle();
        font-size: 4vh;
        margin-bottom: 4.5vh;
        color: black;
    }
    p{
        @include contentStyle();
        font-size: 2.7vh;
    }
}


//login form section
.loginform {
    height:100vh;

    .footer{
        position: fixed;
        bottom:0;
        width: 100vw;
    }
}